{include file="public/head" /}
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">银行卡号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input id="bank_num" type="text" class="input-text" value="" placeholder=""  name="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">所属银行：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input id="bank_which" type="text" class="input-text" value="" placeholder=""  name="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">开户行：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input id="bank_where" type="text" class="input-text" value="" placeholder=""  name="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">真实姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input id="name" type="text" class="input-text" value="" placeholder=""  name="">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<div  class="btn btn-primary radius" onclick="addbanks()" >
					<i class="Hui-iconfont">&#xe632;</i> 添加
				</div>
			</div>
		</div>
	</form>
</article>

{include file="public/footer" /}

<script>
	function addbanks(){
		$.ajax({
			url:'/admin/admin/doAddBanks',
			type:'post',
			data:{
				bank_num:$('#bank_num').val(),
				bank_which:$('#bank_which').val(),
				bank_where:$('#bank_where').val(),
				name:$('#name').val(),
			},
			success:function(res){
				if(res.status == 200)
				{
					alert('添加成功!');
					window.localtion.href = 'admin/admin/banks_list';
				}
			},
			error:function(error){
				alert('发生未知错误！');
			}
		});
		return false;
	}
</script>


