{include file="public/head" /}


<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		银行卡管理
		<span class="c-gray en">&gt;</span>
		银行卡列表
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">

				<input type="text" name=""  placeholder="银行卡名称" style="width:250px" class="input-text" id="banksName">
				<div name=""  class="btn btn-success" type="submit" onclick="findBanksByName()"><i class="Hui-iconfont">&#xe665;</i> 搜订单</div>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
				<a class="btn btn-primary radius" data-title="添加银行卡" _href="article-add.html"
				   onclick="window.location.href = 'banks_add.html'" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加银行卡</a>
				</span>
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort" id="bbsTab">
					<thead>
						<tr class="text-c">
							<th width="40">序号</th>
							<th width="90">名称</th>
							<th width="50">账号</th>
							<th width="80">开户行</th>
							<th width="60">姓名</th>
							<th width="60">已使用次数</th>
							<th width="60">可使用次数</th>
							<th width="60">添加时间</th>
							<th width="120">操作</th>
						</tr>
					</thead>
					<tbody>
					{volist name="data" id="vo"}
						<tr class="text-c">
							<td></td>
							<td>{$vo.bank_which}</td>
							<td>{$vo.bank_num}</td>
							<td>{$vo.bank_where}</td>
							<td>{$vo.name}</td>
							<td>{$vo.been_use}</td>
							<td>{$vo.acount}</td>
							<td>{$vo.create_time}</td>
							<td>
								<button class="btn btn-danger" onclick="deleteBank({$vo.id})">删除</button>
							</td>
						</tr>
					{/volist}
					</tbody>

				</table>
			</div>

			<div class="pagination">{$page}</div>

		</article>
	</div>
</section>

{include file="public/footer" /}

<script>
	window.onload = function() {
		var oTable = document.getElementById("bbsTab");
		for ( var i = 1; i < oTable.rows.length; i++) {
			oTable.rows[i].cells[0].innerHTML = (i);
			// if (i % 2 == 0)
			// 	oTable.rows[i].className = "ys01";
		}
	}

	function deleteBank(id) {
		layer.open({
			skin: 'alert-skin',//弹出层皮肤，可自定义也可用官方
			title: ['提示', 'color:rgb(139, 181, 219);'],//弹出层title,数组右半部份设置title样式
			area: 'auto',
			maxWidth: 1500,
			// maxHeight:1000,
			btn: ['确定','取消'],//设置底部按钮
			btn1: function () {
				$.ajax({
					url:'/admin/admin/deleteBank',
					type:'post',
					data:{
						id:id

					},
					success:function(res){
						if(res.status == 200)
						{
							// alert('刪除成功!');
							window.location.reload();

						}
						else{
							alert('刪除失败!  ');
						}
					},
					error:function(error){
						alert('发生未知错误！');
					}
				});
				layer.close(layer.open());
			},
			content: "<div>" +
					"<span>确定要删除?</span>"+
					"</div>"+
					"<div>"

		})
	}
	function findBanksByName(){
		var banksName = $('#banksName').val();
		window.location.href = 'banks_list.html?banksName='+banksName;
	}
</script>
