{include file="public/head" /}
<script src="/static/vue.js"></script>
<script src="/static/vue_ajax.js"></script>
<style>
    /*分页*/
    .page-bar{
        margin-top:15px;

        margin-left: 27%;

    }
    ul,li{
        margin: 0px;
        padding: 0px;
    }
    li{
        list-style: none
    }
    .page-bar li:first-child>a {
        margin-left: 0px
    }
    .page-bar a{
        border: 1px solid #ddd;
        text-decoration: none;
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #5D6062;
        cursor: pointer;
        margin-right: 20px;
    }
    .page-bar a:hover{
        background-color: #eee;
    }
    .page-bar a.banclick{
        cursor:not-allowed;
    }
    .page-bar .active a{
        color: #fff;
        cursor: default;
        background-color: #E96463;
        border-color: #E96463;
    }
    .page-bar i{
        font-style:normal;
        color: #d44950;
        margin: 0px 4px;
        font-size: 12px;
    }
</style>
<section class="Hui-article-box" id="app">

    <div class="Hui-article">
        <article class="cl pd-20">
            <br>
            <div class="table-div">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                        <tr class="text-c">
                            <th>序号</th>
                            <th>网址</th>
                            <th>状态</th>
                            <th>全部数量</th>
                            <th>新增数量</th>
                            <th>已下载量</th>
                            <th>未下载量</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="be_append text-c">

                        <tr v-for="(item,key) in website_list ">
                            <td>{{key+1}}</td>
                            <td>{{item.domain}}</td>
                            <td v-html="item.status" class="text-l">{{item.status}}</td>
                            <td>{{item.per_website_count}}</td>
                            <td>{{item.new_file_count}}</td>
                            <td>{{item.downloaded}}</td>
                            <td>{{item.per_website_count - item.downloaded}}</td>
                            <td>
                                <button v-if="item.flag" v-on:click="downLoadData(item.domain,key)" class="btn btn-secondary-outline">下载</button>
                                <button v-if="!item.flag" style="cursor:not-allowed" disabled readonly class="btn btn-secondary-outline">下载</button>
                            </td>
                        </tr>

                        <tr >
                            <td>统计</td>
                            <td>共有{{domain_count}}个网站</td>
                            <td class="text-l">
                                <span class="btn btn-success">连通性：成功{{all_success_ping}}个</span>
                                <span class="btn btn-danger" v-if="domain_count-all_success_ping != 0">连通性：失败{{domain_count-all_success_ping}}个</span>
                            </td>
                            <td>{{total_count}}</td>
                            <td>{{total_new_file_count}}</td>
                            <td>{{total_downloaded_count}}</td>
                            <td>{{total_count - total_downloaded_count}}</td>
                            <td>
                                <button class="btn btn-secondary" v-on:click="downLoadData('all',-1)">全部下载</button>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>

            <!--分页-->
            <div class="page-bar">
                <ul>
                    <li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
                    <li v-if="cur==1"><a class="banclick">上一页</a></li>
                    <li v-for="index in indexs" v-bind:class="{ 'active': cur == index}">
                        <a v-on:click="btnClick(index)">{{ index }}</a>
                    </li>
                    <li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
                    <li v-if="cur == all"><a class="banclick">下一页</a></li>
                    <li><a>共<i>{{all}}</i>页</a></li>
                </ul>
            </div>

        </article>
    </div>
</section>
<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content radius">
            <div class="modal-header">
                <h3 class="modal-title">发生了未知错误</h3>
                <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
            </div>
            <div class="modal-body">
                <p>请刷新页面重试，如仍然出来此情况，请与开发者联络！</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">确定</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script>
    var vm = new Vue({
        el:'#app',
        data:
        {
            msg:'Hello World!',
            website_list:[],
            domain_count:0,
            total_ping_string:"",
            all_success_ping:0,
            ping_total_count:0,
            total_new_file_count:0,//本次扫描新增的总数量
            total_count:0,//全部站数量的总和 = 每个站的的相加
            total_downloaded_count:0,//已下载数量的总和 = 每个站已下载的相加

            all: 10, //总页数
            cur: 1,//当前页码
            totalPage: 0,//当前条数
        },
        methods:
        {
                get: function () {
                    //发送get请求
                    this.$http.get('/admin/admin/down_load_data').then(function (res) {

                            this.website_list = res.body;
                            this.domain_count = res.body.length;

                            for (let i = 0; i < this.website_list.length; i++) {
                                this.website_list[i]['status'] = '检测中......';
                                this.website_list[i]['flag'] = false;
                                this.website_list[i]['per_website_count'] = 0;//每个站本次扫描共有多少个文件
                                this.website_list[i]['new_file_count'] = 0;//每个站本次扫描新增多少个站


                                this.total_downloaded_count += this.website_list[i]['downloaded'];
                                //检测域名连通性
                                this.$http.post('/admin/admin/pingDomain', {"domain": this.website_list[i]['domain']}, {emulateJSON: true}).then(function (res) {
                                    let html = "";
                                    if (res.body.status == 200) {
                                        html = '<span class="btn btn-success">连通性：成功</span> ';

                                        this.all_success_ping++;
                                        this.website_list[i]['flag'] = true;
                                        this.website_list[i]['per_website_count'] = res.body.count;
                                        this.website_list[i]['new_file_count'] = res.body.new_file_count;
                                        this.total_new_file_count += res.body.new_file_count;
                                        this.total_count += res.body.count;
                                    } else {
                                        html = '<span class="btn btn-danger">连通性：失败</span><br>';
                                    }
                                    //更新
                                    //this.website_list[n]['status'] = html;
                                    this.$set(this.website_list[i], 'status', html);
                                    this.ping_total_count += res.body.count;
                                    //更新视图使用的函数
                                    this.$forceUpdate();

                                }, function (err) {
                                    this.website_list[i]['status'] = '<span class="btn btn-danger">连通性：失败</span><br>';
                                });

                            }


                        }, function () {
                            console.log('请求失败处理');
                        }
                    );
                },

                downLoadData: function (domain, k) {
                    if (domain == 'all' && k == -1) {
                        if (confirm('是否下载全部数据，这可能导致服务器负载过大而挂掉，建议您单个站下载哦')) {
                            let window_id = layer.open({
                                title: '状态',
                                content: '',
                                type: 3
                            });
                            let win = window;
                            this.$http.post('/admin/admin/getFileContent', {"url": domain}, {emulateJSON: true}).then(function (res) {
                                let result = res.body;
                                if (result.status == 200) {
                                    layer.close(window_id);
                                    layer.open({
                                        title: '下载结果',
                                        content: '总数量：' + result.count + '<br>下载量：' + result.download,
                                        yes: function (index) {

                                            win.location.href = "/admin/admin/down_load.html";
                                            layer.close(index); //如果设定了yes回调，需进行手工关闭

                                        }
                                    });
                                    //更新视图
                                    this.website_list[k]['downloaded'] = this.website_list[k]['downloaded'] + result.download;//单个站的已下载量 = 之前已下载的+这次下载的
                                    this.total_downloaded_count = this.total_downloaded_count + result.download;//全部站的已下载量 = 之前已下载的+这次下载的
                                    this.$forceUpdate();
                                }

                            }, function (err) {
                                this.website_list[n]['status'] = '<span class="btn btn-danger">连通性：失败</span><br>';
                            });
                        }
                    } else {
                        let index = layer.open({
                            title: '状态',
                            content: '',
                            type: 3
                        });
                        this.$http.post('/admin/admin/getFileContent', {"url": domain}, {emulateJSON: true}).then(function (res) {
                            let result = res.body;
                            if (result.status == 200) {
                                layer.close(index);
                                layer.open({
                                    title: '下载结果',
                                    content: '总数量：' + result.count + '<br>下载量：' + result.download
                                });
                                //更新视图
                                this.website_list[k]['downloaded'] = this.website_list[k]['downloaded'] + result.download;//单个站的已下载量 = 之前已下载的+这次下载的
                                this.total_downloaded_count = this.total_downloaded_count + result.download;//全部站的已下载量 = 之前已下载的+这次下载的
                                this.$forceUpdate();
                            }

                        }, function (err) {
                            this.website_list[n]['status'] = '<span class="btn btn-danger">连通性：失败</span><br>';
                        });
                    }

                },


                //请求数据
                dataListFn: function (index) {},
                //分页
                btnClick: function (data)
                {
                    //页码点击事件
                    if (data != this.cur)
                    {
                        this.cur = data
                    }
                    //根据点击页数请求数据
                    this.dataListFn(this.cur);
                },

                pageClick: function () {
                    //根据点击页数请求数据
                    this.dataListFn(this.cur);
                }
         },
        computed:
        {
                //分页
                indexs: function(){
                    var left = 1;
                    var right = this.all;
                    var ar = [];
                    if(this.all>= 5)
                    {
                        if(this.cur > 3 && this.cur < this.all-2)
                        {
                            left = this.cur - 2
                            right = this.cur + 2
                        }
                        else
                        {
                            if(this.cur<=3)
                            {
                                left = 1
                                right = 5
                            }
                            else
                            {
                                right = this.all
                                left = this.all -4
                            }
                        }
                    }
                    while (left <= right){
                        ar.push(left)
                        left ++
                    }
                    return ar
                }

            }
    });
    vm.get();


    function classified()
    {
        $.ajax({'url':"/admin/admin/classifiedData"});
    }

</script>
