{include file="public/head" /}

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">我的桌面</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">

            <table class="table table-border table-bordered table-bg">
                <thead>
                <tr>
                    <th colspan="7" scope="col">信息统计</th>
                </tr>
                <tr class="text-c">
                    <th>统计</th>
                    <th>网站数量</th>
                    <th>数据数量</th>

                </tr>
                </thead>
                <tbody>
                <tr class="text-c">
                    <td>总数</td>
                    <td>{$website_count}</td>
                    <td>{$file_count}</td>

                </tr>
<!--                <tr class="text-c">-->
<!--                    <td>今日</td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->
<!--                <tr class="text-c">-->
<!--                    <td>昨日</td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->

<!--                </tr>-->

                </tbody>
            </table>


          <!--  <table class="table table-border table-bordered table-bg mt-20">
                <thead>
                <tr>
                    <th colspan="2" scope="col">其它信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th width="30%">平台会员总数</th>
                </tr>
                <tr>
                    <td>今日新增会员数</td>
                </tr>
                <tr>
                    <td>今日打码量最高者(打码量)</td>
                </tr>
                <tr>
                    <td>当前用户总余额</td>
                </tr>
                <tr>
                    <td>当前用户未结算总余额</td>
                </tr>
                <tr>
                    <td>差值</td>
                </tr>
                </tbody>
            </table>-->
        </article>


    </div>
</section>

{include file="public/footer" /}
