{include file="public/head" /}


<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        订单管理
        <span class="c-gray en">&gt;</span>
        订单列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">

            <br>

            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="40">订单号</th>
                        <th width="90">期数</th>
                        <th width="50">数量</th>
                        <th width="60">金额</th>
                        <th width="60">订单时间</th>
                        <th width="60">操作</th>

                    </tr>
                    </thead>
                    <tbody>
                    {volist name="data" id="vo"}
                    <tr class="text-c">
                        <td>{$vo.id}</td>
                        <td>{$vo.expect}</td>
                        <td>{$vo.amount}</td>
                        <td>{$vo.money}</td>
                        <td>{$vo.create_time}</td>
                        <td>
                            <button class="btn btn-danger radius" onclick="orderPass({$vo.id})">查看详情</button>
                        </td>

                    </tr>
                    </tbody>
                    {/volist}
                </table>
            </div>

            <div class="pagination">{$page}</div>

        </article>
    </div>
</section>

{include file="public/footer" /}

<script>
    function orderPass(id) {
        window.location.href = '/admin/admin/checkPacket.html'+'?id='+id;
    }



</script>
