{include file="public/head" /}
<section class="Hui-article-box">
    <article class="page-container">
        <form class="form form-horizontal" id="form-article-add">
            <input type="hidden" value="{$data.id}" id="notice_id">

            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">游戏规则：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <textarea id="notice_content" value="{$data.text_rules}" name="" cols="" rows="" class="textarea"
                              placeholder="请填写游戏规则"  >{$data.text_rules}</textarea>
                    <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
                </div>
            </div>


            <div class="row cl" style="margin-top: 200px;">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <div class="btn btn-primary radius" onclick="release()">
                        <i class="Hui-iconfont">&#xe632;</i> 发布
                    </div>
                </div>
            </div>
        </form>
    </article>
</section>
<style>
    .my-p {
        background: #e2e2e2;
        cursor: pointer;
    }
</style>
{include file="public/footer" /}

<script>
    function release() {

        $.ajax({
            url: '/admin/admin/update_rules',
            type: 'post',
            data: {
                rules: $('#notice_content').val(),
            },
            success: function (res) {
                if (res.status == 200) {

                    alert('修改成功!');
                    window.location.reload();
                } else {
                    alert('修改失败!  ');
                }
            },
            error: function (error) {
                alert('发生未知错误！');
            }
        });

    }



</script>


