{include file="public/head" /}

<style>
    .mu-span{
        display: inline-block;
        margin-right: 50px;
        width: 300px;
        overflow: hidden;
    }
</style>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        用户管理
        <span class="c-gray en">&gt;</span>
        用户流水
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <p>
                <span class="mu-span">历史奖励总量：{$allPacketMoney*0.006}  </span>
                <span class="mu-span">今日奖励总量：{$todayPacketMoney*0.006}</span>
                <span class="mu-span">昨日奖励总量：{$yesTodayPacketMoney*0.006}</span>
            </p>
            <p>
                <span class="mu-span">历史打码总量：{$allPacketMoney}</span>
                <span class="mu-span">今日打码总量：{$todayPacketMoney}</span>
                <span class="mu-span">昨日打码总量：{$yesTodayPacketMoney}</span>
            </p>
            <p>
                <span class="mu-span">历史提现总量：{$allWtmoney}</span>
                <span class="mu-span">今日提现总量：{$todayWtmoney}</span>
                <span class="mu-span">昨日奖励总量：{$yesTodayWtmoney}</span>
            </p>

        </article>
        <article class="cl pd-20">
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="40">流水号</th>
                        <th width="90">用户名</th>
                        <th width="50">变更前金额</th>
                        <th width="80">变更金额</th>
                        <th width="80">变更原因</th>
                        <th width="120">变更后金额</th>
                        <th width="60">备注</th>
                        <th width="60">变更时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="data" id="vo"}
                    <tr class="text-c">
                        <td>{$vo.id}</td>
                        <td>{$user_phone}</td>
                        <td>{$vo.user_money_now}</td>
                        <td>{$vo.money}</td>
                        <td>{$vo.type}</td>
                        <td>{$vo.user_money_later}</td>
                        <td>{$vo.remark}</td>
                        <td>
                            {$vo.create_time}
                        </td>
                    </tr>
                    </tbody>
                    {/volist}
                </table>
            </div>



        </article>
    </div>
</section>

{include file="public/footer" /}
<style>
    .line-1{
        display: inline-block;
        width: 200px;
    }

    #order_state{
        width: 200px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
    }
</style>
<script>
    function orderPass(id){
        $.ajax({
            url:'/admin/admin/checkOrder',
            type:'post',
            data:{
                id:id

            },
            success:function(res){
                if(res.status == 200)
                {
                    layer.open({
                        skin: 'alert-skin',//弹出层皮肤，可自定义也可用官方
                        title: ['订单审核', 'color:rgb(139, 181, 219);'],//弹出层title,数组右半部份设置title样式
                        // area: 'auto',
                        area: ['800px', '620px'],
                        maxWidth: 1500,
                        maxHeight:1000,
                        btn: ['确定', '取消'],//设置底部按钮
                        btn1: function () {
                            $.ajax({
                                url:'/admin/admin/passOrder',
                                type:'post',
                                data:{
                                    id:$('#order_id').val(),
                                    status:$('#order_state').val(),
                                    user_phone:res.data.user_phone
                                },
                                success:function(res){
                                    if(res.status == 200)
                                    {
                                        // alert('修改成功!');
                                        window.location.reload();

                                    }
                                    else{
                                        alert('修改失败!  ');
                                    }
                                },
                                error:function(error){
                                    alert('发生未知错误！');
                                }
                            });
                        },
                        //content为弹出层内容
                        content:


                            `<div style="font-weight: 700;">
									<span class="line-1">用户：`+ res.data.user_phone + `  </span>
									<span class="line-1">期数：`+ res.data.packet_expect + `  </span>
									<span class="line-1">金额：`+ res.data.money + `</span>
								</div>`
                            +
                            `<div style="margin-top: 5px;">
								    <img src='`+ res.data.img_url +`' alt='凭证' height='380px' width='520px'>
								</div>`+

                            `<span> 操作：   </span>`	+
                            "<select name='' id='order_state' lay-verify=''>" +
                            "<option value ='1'>待付款</option>"+
                            "<option value ='0'>订单过期</option>"+
                            "<option value ='2'>审核中</option>"+
                            "<option value ='3'>通过审核</option>"+
                            "<option value ='4'>不通过审核</option>"+
                            "</select>"+

                            "<input type='hidden' value='"+res.data.id+"' id='order_id'/>"


                    })
                }
                else{
                    alert('修改失败!  ');
                }
            },
            error:function(error){
                alert('发生未知错误！');
            }
        });
    }


    function watchBanks(id){
        $.ajax({
            url:'/index/index/findPackById',
            type:'post',
            data:{
                id:id

            },
            success:function(res){
                if(res.status == 200)
                {
                    // alert('银行\\支付宝:'+res.data.sys_bank_which+'\n银行卡号\\支付宝账号:'+res.data.sys_bank_num+'\n姓名:'+res.data.sys_name);
                    layer.open({
                        skin: 'alert-skin',//弹出层皮肤，可自定义也可用官方
                        title: ['银行卡信息', 'color:rgb(139, 181, 219);'],//弹出层title,数组右半部份设置title样式
                        area: 'auto',
                        maxWidth: 1500,
                        // maxHeight:1000,
                        btn: ['确定'],//设置底部按钮
                        btn1: function () {
                            layer.close(layer.open());
                        },
                        content: "<div>" +
                            "<span>银行类型:</span><span> "+res.data.sys_bank_which+"</span>"+
                            "</div>"+
                            "<div>" +
                            "<span>银行账号:</span><span> "+res.data.sys_bank_num+"</span>"+
                            "</div>"+
                            "<div>" +
                            "<span>银行姓名:</span><span> "+res.data.sys_name+"</span>"+
                            "</div>"
                    })
                }
                else{
                    alert('显示失败!  ');
                }
            },
            error:function(error){
                alert('发生未知错误！');
            }
        });
        return false;
    }



</script>
