{include file="public/head" /}


<section class="Hui-article-box">

    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        会员管理
        <span class="c-gray en">&gt;</span>
        会员列表
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="">
                <label>用户名:</label>
                <input type="text" name=""  placeholder="" style="width:150px" class="input-text" id="userName">&nbsp;&nbsp;
                <label>用户邀请码:</label>
                <input type="text" name=""  placeholder="" style="width:150px" class="input-text" id="find_user_invitation_code">&nbsp;&nbsp;
                <label>状态:</label>
                <select  style="width:150px;height: 31px" id="find_user_state">
                    <option value="">请选择状态</option>
                    <option value="0">冻结</option>
                    <option value="1">正常</option>
                    <option value="2">不能抢包</option>
                </select>&nbsp;&nbsp;
                <div name=""  class="btn btn-success" type="submit" onclick="find_user()"><i class="Hui-iconfont">&#xe665;</i> 搜用戶</div>
            </div>
            <!--<div class="cl pd-5 bg-1 bk-gray mt-20">-->
            <!--<span class="l">-->
            <!--<a class="btn btn-primary radius" data-title="添加订单" _href="article-add.html" onclick="window.location.href = 'article_add.html'" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加订单</a>-->
            <!--</span>-->
            <!--<span class="r">共有数据：<strong>54</strong> 条</span>-->
            <!--</div>-->
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort" id="my-list">
                    <thead>
                    <tr class="text-c">
                        <th width="40">序号</th>
                        <th width="90">用户名</th>
                        <th width="50">用户余额</th>
                        <th width="80">冻结金额</th>
                        <th width="80">总奖金金额</th>
                        <th width="120">今天打码数</th>
                        <th width="120">用戶邀请码</th>
                        <th width="75">下线数量</th>
                        <th width="60">注册时间</th>
                        <th width="60">状态</th>
                        <th width="150">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="data" id="vo"}
                    <tr class="text-c">
                        <td></td>
                        <td>{$vo.phone}</td>
                        <td>{$vo.money}</td>
                        <td>{$vo.unclear_money}</td>
                        <td>{$vo.bonus}</td>
                        <td>{$vo.today_total}</td>
                        <td>{$vo.invitation_code}</td>
                        <td>{$vo.sons}</td>
                        <td>{$vo.create_time}</td>
                        <td>
                            {switch name="vo.state" }
                                {case value="0"}
                                    <span class="label label-default radius">冻结</span>
                                {/case}
                                {case value="1"}
                                    <span class="label label-default radius">正常</span>
                                {/case}
                                {case value="2"}
                                    <span class="label label-default radius">不能抢包</span>
                                {/case}
                                {default /}未知
                            {/switch}
                        </td>
                        <td class="f-14 td-manage">
                            <button class="btn btn-success radius" onclick="updateUser({$vo.id})">修改</button>
                            <button class="btn btn-success radius" onclick="selectUserBanks({$vo.id})">银行卡</button>
                            <!--<button class="btn btn-danger radius" onclick="deleteUser({$vo.id})">冻结</button>-->
                        </td>
                    </tr>
                    </tbody>
                    {/volist}
                </table>
            </div>

            <div class="pagination">{$page}</div>

        </article>
    </div>
</section>

{include file="public/footer" /}

<script>
    window.onload = function() {
        var oTable = document.getElementById("my-list");
        for ( var i = 1; i < oTable.rows.length; i++) {
            oTable.rows[i].cells[0].innerHTML = (i);
            // if (i % 2 == 0)
            // 	oTable.rows[i].className = "ys01";
        }
    }
    //查看银行卡
    function selectUserBanks(id) {
        $.ajax({
            url:'/admin/admin/selectUserBanks',
            type:'post',
            data:{
                id:id

            },
            success:function(res){
                if(res.status == 200)
                {
                    var str = '<table class="table table-border table-bordered table-bg table-hover table-sort">\n' +
                        '           <thead>' +
                        '                    <tr class="text-c">' +
                        '                        <th width="100">用户账号</th>' +
                        '                        <th width="90">用户姓名</th>' +
                        '                        <th width="50">账号类型</th>' +
                        '                        <th width="80">开户行</th>\n' +
                        '                        <th width="80">添加时间</th>\n' +
                        '                    </tr>\n' +
                        '           </thead>\n' +
                        '                    <tbody>\n';

                    for(var i = 0 ;i<res.data.length;i++) {

                        str +=
                            '                    <tr class="text-c">\n' +
                            '                        <td> ' + res.data[i].bank_num + ' </td>\n' +
                            '                        <td>' + res.data[i].real_name + '</td>\n' +
                            '                        <td>' + res.data[i].bank_which + '</td>\n' +
                            '                        <td>' + res.data[i].bank_where + '</td>\n' +
                            '                        <td>' + res.data[i].create_time + '</td>\n' +
                            '                    </tr>\n'
                    }
                        layer.open({
                            skin: 'alert-skin',//弹出层皮肤，可自定义也可用官方
                            title: ['用户银行卡信息', 'color:rgb(139, 181, 219);'],//弹出层title,数组右半部份设置title样式
                            area: 'auto',
                            maxWidth: 1500,
                            // maxHeight:1000,
                            btn: ['确定'],//设置底部按钮
                            btn1: function () {
                                layer.close(layer.open());
                            },
                            //content为弹出层内容
                            content:str+'</tbody></table>'
                        })

                }else if(res.status == 0){
                    layer.open({
                        skin: 'alert-skin',//弹出层皮肤，可自定义也可用官方
                        title: ['用户银行卡信息', 'color:rgb(139, 181, 219);'],//弹出层title,数组右半部份设置title样式
                        area: 'auto',
                        maxWidth: 1500,
                        // maxHeight:1000,
                        btn: ['确定'],//设置底部按钮
                        btn1: function () {
                        },
                        //content为弹出层内容
                        content:res.msg
                    })
                }
                else{
                    alert('查看失败!  ');
                }
            },
            error:function(error){
                layer.open({
                    skin: 'alert-skin',//弹出层皮肤，可自定义也可用官方
                    title: ['用户银行卡信息', 'color:rgb(139, 181, 219);'],//弹出层title,数组右半部份设置title样式
                    area: 'auto',
                    maxWidth: 1500,
                    // maxHeight:1000,
                    btn: ['确定'],//设置底部按钮
                    btn1: function () {
                        layer.close(layer.open());
                    },
                    //content为弹出层内容
                    content:'用户还没添加银行卡'
                })
            }
        });
    }
    //修改用户
    function updateUser(id){
        $.ajax({
            url:'/admin/admin/updateUser',
            type:'post',
            data:{
                id:id

            },
            success:function(res){
                if(res.status == 200)
                {
                    var str = '';
                    if(res.data.state == 0){
                        str =  "<option value ='0' selected >冻结</option>"+
                            "<option value ='1' >正常</option>"+
                            "<option value ='2'>不能抢包</option>";
                    }else if(res.data.state == 1){
                        str =  "<option value ='0'  >冻结</option>"+
                            "<option value ='1' selected>正常</option>"+
                            "<option value ='2'>不能抢包</option>";
                    }else{
                        str =  "<option value ='0'  >冻结</option>"+
                            "<option value ='1' >正常</option>"+
                            "<option value ='2' selected>不能抢包</option>";
                    }

                    layer.open({
                        skin: 'alert-skin',//弹出层皮肤，可自定义也可用官方
                        title: ['用户修改', 'color:rgb(139, 181, 219);'],//弹出层title,数组右半部份设置title样式
                        area: 'auto',
                        maxWidth: 1500,
                        // maxHeight:1000,
                        btn: ['确定修改', '取消'],//设置底部按钮
                        btn1: function () {
                            $.ajax({
                                url:'/admin/admin/saveUpdateUser',
                                type:'post',
                                data:{
                                    id:$('#user_id').val(),
                                    money:$('#user_money').val(),
                                    unclear_money:$('#user_unclear_money').val(),
                                    bonus:$('#user_bonus').val(),
                                    today_total:$('#user_today_total').val(),
                                    state:$('#user_state').val(),

                                },
                                success:function(res){
                                    if(res.status == 200)
                                    {
                                        // alert('修改成功!');
                                        window.location.reload();

                                    }
                                    else{
                                        alert('修改失败!  ');
                                    }
                                },
                                error:function(error){
                                    alert('发生未知错误！');
                                }
                            });
                        },
                        //content为弹出层内容
                        content: "<table class='table2'>" +
                                "<div class=\"row cl\">"+
                                    "<label class=\"form-label col-xs-4 col-sm-5\">用户名：</label>" +
                                    "<div class=\"formControls col-xs-8 col-sm-6\">" +
                                        "<input id=\"user_phone\" type=\"text\" class=\"input-text\" value='"+res.data.phone+"' readonly=\"readonly\">" +
                                    "</div>"+
                                "</div>"+
                                "<div class=\"row cl\">"+
                                    "<label class=\"form-label col-xs-4 col-sm-5\">用户余额：</label>" +
                                        "<div class=\"formControls col-xs-8 col-sm-6\">" +
                                            "<input id=\"user_money\" type=\"text\" class=\"input-text\" value='"+res.data.money+"'>" +
                                        "</div>"+
                                "</div>"+
                                "<div class=\"row cl\">"+
                                    "<label class=\"form-label col-xs-4 col-sm-5\">冻结金额：</label>" +
                                     "<div class=\"formControls col-xs-8 col-sm-6\">" +
                                         "<input id=\"user_unclear_money\" type=\"text\" class=\"input-text\" value='"+res.data.unclear_money+"'>" +
                                    "</div>"+
                                "</div>"+
                                 "<div class=\"row cl\">"+
                                    "<label class=\"form-label col-xs-4 col-sm-5\">今天打码数：</label>" +
                                    "<div class=\"formControls col-xs-8 col-sm-6\">" +
                                        "<input id=\"user_bonus\" type=\"text\" class=\"input-text\" value='"+res.data.bonus+"'>" +
                                    "</div>"+
                                "</div>"+
                                 "<div class=\"row cl\">"+
                                     "<label class=\"form-label col-xs-4 col-sm-5\">总奖金金额：</label>" +
                                    "<div class=\"formControls col-xs-8 col-sm-6\">" +
                                        "<input id=\"user_today_total\" type=\"text\" class=\"input-text\" value='"+res.data.today_total+"'>" +
                                     "</div>"+
                                 "</div>"+
                                "<div class=\"row cl\">"+
                                    "<label class=\"form-label col-xs-4 col-sm-5\">状态：</label>" +
                                     "<div class=\"formControls col-xs-8 col-sm-6\">" +
                                        "<select name='' id='user_state'>" +
                                         str+
                                        "</select>"+
                                     "</div>"+
                                "</div>"+
                                    "<input type='hidden' value='"+res.data.id+"' id='user_id'/>"+
                                  "<div class='table2-line'></div>"
                    })
                }
                else{
                    alert('修改失败!  ');
                }
            },
            error:function(error){
                alert('发生未知错误！');
            }
        });

    }
    //删除用户
    function deleteUser(id){

        layer.open({
            skin: 'alert-skin',//弹出层皮肤，可自定义也可用官方
            title: ['提示', 'color:rgb(139, 181, 219);'],//弹出层title,数组右半部份设置title样式
            area: 'auto',
            maxWidth: 1500,
            // maxHeight:1000,
            btn: ['确定','取消'],//设置底部按钮
            btn1: function () {
                $.ajax({
                    url:'/admin/admin/deleteUser',
                    type:'post',
                    data:{
                        id:id

                    },
                    success:function(res){
                        if(res.status == 200)
                        {
                            // alert('刪除成功!');
                            window.location.reload();

                        }
                        else{
                            alert('刪除失败!  ');
                        }
                    },
                    error:function(error){
                        alert('发生未知错误！');
                    }
                });
                layer.close(layer.open());
            },
            content: "<div>" +
                "<span>确定要冻结该用户?</span>"+
                "</div>"+
                "<div>"

        })


    }


    function find_user() {
        var phone = $('#userName').val();
        var invitation_code = $('#find_user_invitation_code').val();
        var state = $('#find_user_state').val();
        window.location.href = 'user_list.html?phone='+phone+'&invitation_code='+invitation_code+'&state='+state;
    }



</script>
<!--<style>-->
    <!--.alert-skin .layui-layer-btn0 {-->
        <!--height: 30px;-->
        <!--text-align: center;-->
        <!--color: white;-->
        <!--font-size: 12px;-->
        <!--border-radius: 5px;-->
        <!--width: 110px;-->
    <!--}-->

<!--</style>-->