{include file="public/head" /}
<section class="Hui-article-box">
	<article class="page-container">
		<form class="form form-horizontal" id="form-article-add">
			<input type="hidden" value="{$data.id}" id="notice_id">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">域名：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$data.domain}" placeholder="请输入域名，带不带http(s)://都可以..."  name="" id="notice_title">
					<input type="hidden" value="{$data.id}">
				</div>
			</div>
			<div class="row cl" style="margin-top: 20px;">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<div  class="btn btn-primary radius" onclick="release()">
						<i class="Hui-iconfont">&#xe632;</i> 保存
					</div>
				</div>
			</div>
		</form>
	</article>
</section>
<style>
	.my-p{
		background: #e2e2e2;
		cursor: pointer;
	}
</style>
{include file="public/footer" /}

<script>
	function release() {


		$.ajax({
			url:'/admin/admin/saveWebsiteDomain',
			type:'post',
			data:{
				id:$('#notice_id').val(),
				title:$('#notice_title').val(),
			},
			success:function(res){
				if(res.status == 200)
				{
					layer.open({
						skin: 'alert-skin',//弹出层皮肤，可自定义也可用官方
						title: ['提示', 'color:rgb(139, 181, 219);'],//弹出层title,数组右半部份设置title样式
						area: 'auto',
						maxWidth: 1500,
						// maxHeight:1000,
						btn: ['确定'],//设置底部按钮
						btn1: function () {
							layer.close(layer.open());
							window.location.href = 'website_list.html';
						},
						content: "<div>" +
								"<span>"+res.msg+"</span>"+
								"</div>"+
								"<div>"

					})
					// alert('添加通知成功!');
				}
				else{
					alert('添加失败!  ');
				}
			},
			error:function(error){
				alert('发生未知错误！');
			}
		});

	}

	$('#is_someone').hide();
	$("#notice_uid").change(function(){
		var opt=$("#notice_uid").val();


		if(opt == 13){
			$('#is_someone').show();
		}else {
			$('#is_someone').hide();
		}
	});




	$("#someone").on('input propertychange',function(){

		$.ajax({
			url:'/admin/user/selectUser',
			type:'get',
			data:{
				phone:$(this).val()
			},
			success:function(res){

				$('#my-div').html("");
				for(var i = 0; i<res.length;i++){
					$('#my-div').append( '<p class="my-p"> '+  res[i].phone +'  </p>')
				}
			},
			error:function(error){
				//alert('发生未知错误！');
			}
		});
	});



	$(document).on("click", ".my-p", function(){
		$('#someone').val($(this).html().replace(/\s+/g,""));
		$('#my-div').html("");
	});
</script>


