<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link href=static/mui/sass/mui.scss>
  <title>my-project2</title>
  <link href=/vue/static/css/app.c72be4ea6c5581133fce8517f2b33116.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/vue/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/vue/static/js/vendor.7d3fe3173c3ce2875b7a.js></script>
<script type=text/javascript src=/vue/static/js/app.276a66618cfcec078992.js></script>
</body>
</html>
