{include file="public/head" /}
<script src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<style>
    .username {
        font-size: 16px;
        font-weight: 700;
        color: #0a6999;
    }

    .filter-wrap {
        width: 100%;

    }

    .Hui-article {
        top: 0;
    }

    td, tr {
        font-size: 12px;
    }
    .table td{
        padding: 0;
    }
</style>

<section class="Hui-article-box">

    <div class="Hui-article">
        <article class="cl pd-20">
            <!--**********************************搜索条件*********************************************************************************-->

            <form action="">
                <div class="filter-wrap" style="overflow: hidden;float:left;width: 230px;">
                    <div style="width: 230px;margin-bottom: 10px; ">
                        <span>域名：</span>
                        <select name="domain" class="select" style="width: 150px;">
                            <option value="">请选择</option>
                            {volist name='website_list' id='item' }

                            <option value="{$item.domain}" {if $Think.get.domain== $item.domain} selected {/if} > {$item.domain}</option>
                            {/volist}
                        </select>
                    </div>

                    <div style="margin-bottom: 10px;">
                        <span>国家：</span>
                        <input type="text" name="country" value="{$Think.get.country}" class="input-text"
                               style="width: 150px;" placeholder="请输入国家名称">
                    </div>

                    <div style="margin-bottom: 10px;">
                        <span>人名：</span>
                        <input type="text" name="username" value="{$Think.get.username}" class="input-text"
                               style="width: 150px;" placeholder="请输入客户姓名">
                    </div>
                    <div class="clearFloat"></div>

                </div>
                <div class="filter-wrap" style="overflow: hidden;float:left;width: 230px;">
                    <div style="width: 230px;margin-bottom: 10px; ">
                        <span>状态：</span>
                        <select name="state" class="select" style="width: 150px;">
                            <option value="" {if $Think.get.state == ''} selected {/if} >请选择</option>
                            <option value="Success" {if $Think.get.state == 'Success'} selected {/if} >成功</option>
                            <option value="Fail" {if $Think.get.state == 'Fail'} selected {/if} >失败</option>
                            <option value="Unknown" {if $Think.get.state == 'Unknown'} selected {/if} >未知</option>
                        </select>
                    </div>

                    <div style="margin-bottom: 10px;">
                        <span>付款：</span>
                        <input type="text" name="pay_way" value="{$Think.get.pay_way}" class="input-text"
                               style="width: 150px;" placeholder="请输入付款方式">
                    </div>

                    <div style="margin-bottom: 10px;">
                        <span>产品：</span>
                        <input type="text" name="product_name" value="{$Think.get.product_name}" class="input-text"
                               style="width: 150px;" placeholder="请输入产品名称">
                    </div>
                    <div class="clearFloat"></div>

                </div>

                <div class="filter-wrap" style="overflow: hidden;float:left;width: 230px;">

                    <div style="margin-bottom: 10px;">
                        <span>订单：</span>
                        <input type="text" name="order" value="{$Think.get.order}" class="input-text"
                               style="width: 150px;" placeholder="请输入订单号">
                    </div>

                    <div class="mb-10">
                        <span>开始：</span>

                        <input type="text" name="start_time" value="{$Think.get.start_time}" onfocus="WdatePicker()"
                               id="start" class="input-text Wdate" style="width:150px;">
                    </div>

                    <div class="mb-10">
                        <span>结束：</span>
                        <input type="text" name="end_time" value="{$Think.get.end_time}" onfocus="WdatePicker()"
                               id="end" class="input-text Wdate" style="width:150px;">
                    </div>




                    <div class="clearFloat"></div>

                </div>

                <div class="filter-wrap" style="overflow: hidden;float:left;width: 80px;">


                    <div style="margin-bottom: 10px;">
                        <a class="btn btn-primary" target="_blank" href="/admin/admin/classifiedData" >更新</a>
                    </div>


                    <div style="margin-bottom: 10px;">
                        <a class="btn btn-danger" href="/admin/admin/order_list">重置</a>
                    </div>


                    <div style="margin-bottom: 10px;">
                        <button class="btn btn-success">搜索</button>
                    </div>
                </div>

                <div class="filter-wrap" style="overflow: hidden;float:left;width: 80px;">
                    <div class="mb-10" style="overflow:hidden;">
                        <a class="btn btn-primary f-l"
                           href="/admin/order/outPutBeTxt?domain={$Think.get.domain}&country={$Think.get.country}&username={$Think.get.username}&state={$Think.get.state}&pay_way={$Think.get.pay_way}&product_name={$Think.get.product_name}&start_time={$Think.get.start_time}&end_time={$Think.get.end_time}"
                           target="_blank">导出TXT</a>

                    </div>
                    <div class="mb-10 mt-20" style="overflow:hidden;">
                        <a class="btn btn-primary f-l"
                           href="/admin/order/outPutBeExcel?domain={$Think.get.domain}&country={$Think.get.country}&username={$Think.get.username}&state={$Think.get.state}&pay_way={$Think.get.pay_way}&product_name={$Think.get.product_name}&start_time={$Think.get.start_time}&end_time={$Think.get.end_time}"
                           target="_blank">导出Excel</a>

                    </div>

                </div>
            </form>

            <div class="clearFloat"></div>


            <div class="filter-wrap" style="overflow: hidden;float:left;width: 530px;">

                <div style="margin-bottom: 10px;">
                    <div class="pagination">{$page}</div>
                </div>


                <div class="clearFloat"></div>

            </div>
            <!--**********************************搜索条件/********************************************************************************-->

            <!--**********************************数据********************************************************************************-->
            <div class="mt-20">
                <table class="table table-border table-bordered table-bg table-hover table-sort">
                    <thead>
                    <tr class="text-c">
                        <!--                        <th width="40">序号</th>-->
                        <th>订单号</th>
                        <th>下单时间</th>
                        <th>付款时间</th>
                        <th>订单状态</th>
                        <th>下单产品</th>
                        <th>运费</th>
                        <th>总价</th>
                        <th>客户信息</th>
                        <th>下单网站</th>
                        <th>数据源</th>
                        <th>客户电话</th>
                        <th>付款方式</th>


                    </tr>
                    </thead>
                    <tbody>
                    {volist name="data" id="vo" key="k"}
                    <tr class="text-c">
                        <td>{$vo.order_id|default="unknown"}</td>
                        <td>{$vo.order_time|default="unknown"}</td>
                        <td>{$vo.finished_time|default="unknown"}</td>
                        <td>{$vo.order_state|default="unknown"}</td>
                        <!--这是购物车的内容 要完整的-->
                        <td class="text-l">
                            {volist name="vo.product" id="v" key="key"}
                            <div style="width: 100%;margin-bottom: 5px;overflow: hidden">
                                <div style="overflow: hidden;float:left;margin-right: 15px;">
                                    <img src="{$v.imgurl}" alt="" style="width: 70px;height: 70px;border-radius: 5px;">
                                </div>
                                <div style="float:left;width: 280px;">
                                    <p style="margin-bottom:5px;"> 产品名称: <strong>{$v.productname}</strong></p>
                                    <p style="margin-bottom:5px;">产品单价: <strong>{$v.productprice}</strong> 购买数量: <strong>{$v.quantity}</strong>
                                    </p>
                                </div>
                            </div>
                            {/volist}
                        </td>
                        <!--运费-->
                        <td>{$vo.freight|number_format=###,2}</td>
                        <!--总价-->
                        <td><b style="color: red;">{$vo.total|default="Unknown"|number_format=###,2}</b></td>
                        <!--这是客户的信息-->
                        <td class="text-l">
                            <p>姓名：{$vo.first_name}{$vo.last_name} </p>
                            <p>性别：{$vo.rbsex} </p>
                            <p>邮箱：
                                <a href="/admin/admin/onePerson?contentId={$vo.id}" target="_blank" style="color: #0a6999">
                                    {$vo.email|default="Unknown"}
                                </a>
                            </p>
                            <p>国家：{$vo.country} </p>
                            <p>住址：{$vo.address} </p>
                        </td>
                        <td>{$vo.website}</td>
                        <td>{$vo.data_from}</td>
                        <td>{$vo.phone}</td>
                        <td>{$vo.pay_way}</td>

                    </tr>
                    </tbody>
                    {/volist}
                </table>
            </div>
            <!--**********************************数据/********************************************************************************-->

        </article>
    </div>
</section>

{include file="public/footer" /}

<script>

    function orderPass(id) {
        window.open('/admin/admin/shoppingcart.html' + '?id=' + id, "_blank");
    }


</script>
